$color-dark: #fff;
$color-active: #FFD15C;
$bg-dark: #353353;
$bg-ligth: #f9f9ff ;
$color-white: #454360;
$color-p-white: #5E5C7F;
$max-width-content: 800px;
$padding-content-container: 110px 30px 0 30px;
$boxShadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
$spantime-dark: #8B88B1;
